<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">



    <title>Zial marketing</title>
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
<div class="container-fluid icons py-2 px-3 costom-fixed-position">
<div class="row">
    <div class="col d-flex justify-content-between align-items-baseline">
        <div class="icons">
            <a href="#" class="mx-2">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
            <h6>Address</h6>
        </div>
    </div>
</div>

      <header id="header">

          <nav id="navbar"  class="navbar navbar-expand-md costom-fixed-position" style="margin-top: 43px;">
              <img src="/static/image/logo.jpg"  width="200" height="120">
              <button  class="navbar-toggler bg-light" type="button"
               data-toggle="collapse"  data-target="#navbar">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
             </button>
             <div class="collapse navbar-collapse justify-content-between" id="navbar">
             <ul class="navbar-nav mx-auto">
                 <li class="nav-item">
                     <a href="#" class="nav-link m-2 text-capitalize nav-active">Home</a>
                 </li>
                 <li class="nav-item">
                     <a href="#2" class="nav-link m-2 text-capitalize">About</a>
                 </li>
                 <li class="nav-item">
                     <a href="#3" class="nav-link m-2 text-capitalize">Catalogue</a>
                 </li>
                 <li class="nav-item">
                     <a href="{% url 'register' %}" class="nav-link m-2 text-capitalize">Register</a>
                 </li>

             </ul>
                <form class="form-inline ml-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="search">
                        <div class="input-group-append">
                            <button class="btn search-btn" type="button">
                                <i class="fas fa-search text-muted"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
             </nav>
             <!--Banner-->
             <section>
                <div class="container-fluid">
                    <div class="row banner">
                        <div class="col-sm-10 heading">
                            <h1 class="display-2 text-uppercase">Zial marketing</h1>
                            <p>something</p>
                        <a href="{% url 'home' %}#1" class="btn btn-main btn-lg m-3">Contact us</a>
                        </div>
                    </div>
                </div>
             </section>

         <!--End of Banner-->
      </header>
</div>


        <!-=----About Section----->
<section>
    <div id="2" class="container">
        <div class="about mb-4">
            <div class="row text-center m-4">
                <div class="col-md-12 text-center">
                    <h6>Know us more</h6>
                    <h2 class="mb-4">About Us</h2>
                    <span class="title-border"></span>
                    <p>Zial Marketing in Kunnamangalam, Kozhikode is known to satisfactorily cater to the demands of its customer base.The business came into existence in 2018 and has, since then, been a known name in its field.
                        It stands located at No.495/7, Near Masjid,
                        Panchayath Road, Kunnamangalam-673571.
                        Near Masjid is a prominent landmark in the
                        area and this establishment is in close proximity to the same.
                        The business strives to make for a positive experience through its offerings.
                        The accepted modes of payment such as Cash,
                        Cheques make every business transaction easy and seamless,
                        contributing to making the entire process even more effective.
                        Customer centricity is at the core of Zial Marketing in Kunnamangalam,
                        Kozhikode and it is this belief that has led the business to build long-term relationships.
                        Ensuring a positive customer experience, making available goods
                        and/or services that are of top-notch quality is given prime importance.
                        India’s leading B2B market place, Jd Mart ensures
                        engaging in business activities is a seamless process for small
                        and medium enterprises as well as large businesses. In a wake to enable
                        these businesses to reach their audience, this portal lets them
                        showcase their offerings in terms of the products and/or services
                        through a digital catalogue. This business has a wide range of product
                        offerings and the product/catalogue list includes Ceramic Glazed Tile,
                        Ceramic Tile, Flooring Tile, Birla Floor Covering, Vitrified Tile etc.

                         Kindly scroll up for the address and contact details of Zial Marketing in Kozhikode</p>

                </div>
            </div>


                     </div>
                 </div>
             </div>
         </section>
         <!--End of About Section-->
         <!---Projects----->
        <section class="projects py-3">
          <div id="3" class="container">
              <h2 class="mb-4" style="color: black; text-align: center">Explore Products</h2>
              <div class="project mb-4">
                  <div class="row text-center m-4">
                      <div class="col-md-12 text-center">

                          <span class="title-borders"></span>
                          <p class="text-light">Cladding tiles
                              Give a natural essence to your wall
                              with the natural stone and get the
                              blazing look for your paradise.</p>
                      </div>
                  </div>
                  <!--Parts-->
                  <div class="row text-center">
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="/static/image/img_z_18.jpg" alt=""class="img-fluid project-img">
                          </div>
                          <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">Cladding Tiles</h3>
                          <p class="text-dark">Cladding tiles give a natural essence
                                               to your wall with the natural stone
                                                and get the blazing look for your paradise.
                           </p>
                           </div>
                        </div>
                      </div>
                      <!--End of img-container-->
                      <!--end of part 1-->
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="/static/image/img_z_19.jpg" alt=""class="img-fluid project-img">
                        </div>
                        <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">
                            Floor Tiles</h3>
                        <p class="text-dark">Open up your space and bring the charm of true elegance with this new collection of floor tiles.
                          </p>
                          </div>
                        </div>
                      </div>
                      <!--End of img-container-->
                           <!--Part 3-->
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="/static/image/img_z_4.jpg" alt=""class="img-fluid project-img">
                        </div>
                        <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">
                            Wooden Tiles</h3>
                        <p class="text-dark">A new series of tiles with a wooden effect.
                            A conquering model that, you cannot resist feeling luxurious when seeing them on floors.
                          </p>
                          </div>
                        </div>
                      </div>
                      <!--End of img-container-->
                      <!--Part 4-->
                       <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="/static/image/img_z_16.jpg" alt=""class="img-fluid project-img">
                          </div>
                          <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">Kitchen Wall Tiles</h3>
                          <p class="text-dark">A kitchen wall tile that gives a perfect design element for any kitchen wall. A pure Passion.
                           </p>
                           </div>
                        </div>
                      </div>
                       <!--Part 5-->
                         <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="/static/image/img_z_4.jpg" alt=""class="img-fluid project-img">
                        </div>
                        <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">
                            Ceramic Tiles</h3>
                        <p class="text-dark">The ceramic tiles give a great look to a space with their glorious
                            shades and designs. These tiles are designed to create a comfortable environment with
                            a stylish appeal. Their versatile application makes them a good choice as wall, floor
                            and parking tiles giving a striking aura to indoor as well as outdoor spaces.
                          </p>
                          </div>
                        </div>
                        </div>

                      <!--Part 6-->
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="/static/image/img_z_2.jpg" alt=""class="img-fluid project-img">
                          </div>
                          <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">Vitrified Tiles</h3>
                          <p class="text-dark">Vitrified tile is a ceramic tile with very low porosity.
                              It is an alternative to marble and granite flooring. Vitrified tiles are often
                              used outdoors due to their water and frost resistance. There are four types of
                              Vitrified tiles - Soluble salt, Double charge, Full Body, and Glazed.
                           </p>
                           </div>
                        </div>
                      </div>
                      <!--Part 7-->
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="/static/image/img_z_21.jpg" alt=""class="img-fluid project-img">
                          </div>
                          <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">Gvt/Pgvt Tiles</h3>
                          <p class="text-dark">The GVT/PGVT collection combines the high technical performance of
                              extra-thick products with a sophisticated aesthetic inspired by the modernity of concrete,
                              the timeless appeal of stone and the natural warmth of wood. This collection is available
                              in a range of sizes and designs that compliment all kinds of indoor and outdoor spaces by
                              giving them a charming appeal and sturdy functionality.
                           </p>
                           </div>
                        </div>
                      </div>
                      <!--Part 8-->
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="/static/image/img_z_8.jpg" alt=""class="img-fluid project-img">
                          </div>
                          <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">Parking Tiles</h3>
                          <p class="text-dark">The parking tiles collection is here to make the outdoor space fun and
                              beautiful with its uncanny attractiveness and sophisticated style. They are specifically
                              designed to suit outdoor spaces like parking areas, garages or parks. They are sturdy
                              and build to meet all the necessities of surfaces that are to be installed outdoor,
                              making them long-lasting and highly useful.
                           </p>
                           </div>
                        </div>
                      </div>
                      <!--Part 9-->
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="/static/image/img_z_20.jpg" alt=""class="img-fluid project-img">
                          </div>
                          <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">Porcelain Tiles</h3>
                          <p class="text-dark">The Porcelain collection is used to cover floors as well as walls and
                              give it a fine charm. The exceptional finesse of this collection and the great features
                              of porcelain tiles like durability, water absorption capacity and variety of designs
                              among many others make it an alluring choice when it comes to transforming spaces into
                              a comfortable and stylish place.
                           </p>
                           </div>
                        </div>
                      </div>
                      <!--Part 10-->
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="/static/image/img_z_9.jpg" alt=""class="img-fluid project-img">
                          </div>
                          <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">Wall Tiles</h3>
                          <p class="text-dark">Wall tiles enhance the decor of the space with their glorious style.
                              The wall tiles collection is designed to uplift the aura of a space by decorating the
                              walls with unique designs, attractive shades and alluring aesthetics. They add a sense
                              of uniqueness and a touch of liveliness to a space
                           </p>
                           </div>
                        </div>
                      </div>

                      <!--End of img-container-->
                  </div>
              </div>
          </div>
      </section>
      <!--End of project Section-->


         <!--latest product-->
                <!--Gallery Section-->
      <section id="gallery" class="gallery py-5">
          <div class="img-container">
              <div class="row">
                  <div class="col-10 mx-auto text-center">

                      <h1 class="text-capitalize">Trending products</h1>
                      <span class="title-border"></span>
                  </div>
              </div>
          </div>

              <!---Gallery images-->
          <div class="row"id="gallery-items">

                <!--Single -->
                <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 gallery-item javascripts" data-item="javascript">
                    <div class="card">
                        <div class="img-container">
                            <img src="/static/image/img_z_9.jpg"class="card-img-top
                            gallery-img"alt="" style="padding: 15px;">
                        </div>
                    </div>
                </div>
                <!-----> <!--Single -->
                <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 gallery-item angular" data-item="angular">
                    <div class="card">
                        <div class="img-container">
                            <img src="/static/image/img_z_19.jpg"class="card-img-top
                            gallery-img"alt="" style="padding: 15px;">
                        </div>
                    </div>

                </div>
                <!----->
                  <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 gallery-item angular" data-item="angular">
                    <div class="card">
                        <div class="img-container">
                            <img src="/static/image/img_z_18.jpg"class="card-img-top
                            gallery-img"alt="" style="padding: 15px;">
                        </div>
                    </div>

                </div>
                  <!----->

          </div>

      </section>
      <!---End of Gallery Section-->


         <!--End of Latest-->


            <!--carousel-item-->
         <section id="testimonials" class="py-5 all">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-10 mx-auto d-flex justify-content-between py-3">
                        <div class="align-self-center ml-3">
                            <h2>Tile adhesive</h2>
                          <img src="/static/image/img_z_24.jpg" alt="" class="img-fluid project-img">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--carousel-item-->
                <!--       carousel-item-->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-10 mx-auto d-flex justify-content-between py-3">
                        <div class="align-self-center ml-3">
                          <img src="/static/image/img_z_22.jpg" alt="" class="img-fluid project-img">
                        </div>
                        <div class="review-text px-5">
                          <h2 class="text-capitalize mb-3 des-color">Epoxy</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--carousel-item-->
                <!--       carousel-item-->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-10 mx-auto d-flex justify-content-between py-3">
                        <div class="align-self-center ml-3">
                          <img src="/static/image/img_z_26.jpg" alt="" class="img-fluid project-img">
                        </div>
                        <div class="review-text px-5">
                          <h2 class="text-capitalize mb-3 des-color">Spacers</h2>

                          <p class="text-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Itaque ullam, doloremque sequi rem impedit assumenda.

                          </p>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--carousel-item-->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-10 mx-auto d-flex justify-content-between py-3">
                        <div class="align-self-center ml-3">
                          <img src="/static/image/img_z_25.jpg" alt="" class="img-fluid project-img">
                        </div>
                        <div class="review-text px-5">
                          <h2 class="text-capitalize mb-3 des-color">Joint Fillers</h2>
                          <p class="text-light">
                           Fills wider gap without cracking & shrinking.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--carousel-item-->
              </div>
              <!-- carousel controls-->
              <a class="carousel-control-prev" href="#carouselExampleControls"
              role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" ></span>

          </a>
              <a class="carousel-control-next" href="#carouselExampleControls"
              role="button" data-slide="next">
            <span class="carousel-control-next-icon" ></span>

          </a>
            </div>
          </section>
       <!--End of Testimonial Section-->


<!--Contact us section-->
<section class="bg-color p-5" style="background-color: #374745;">
    <div id="1" class="container">
        <div class="contact-us">
            <div class="row">
                <div class="col-md-11 text-center">
                    <h2>Contact Us</h2>
                    <span class="title-border"></span>
                 </div>
            </div>
            <div class="row contact">
                <div class="col-md-4 text-center">
                    <i class="fas fa-mobile-alt fa-3x color"></i>
                    <h5 class="mt-3">Phone</h5>
                    <p>+91 7560 99 1111</p>
                    <p>+91 8111 81 2892
                </div>
                <div class="col-md-4 text-center">
                    <i class="fas fa-map-marker-alt fa-3x color"></i>
                    <h5 class="mt-3">Address</h5>
                    <p>Poyilthazham | Payimbra P.O | Kunnamangalam | Calicut - 673 571.</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="far fa-envelope-open fa-3x color"></i>
                    <h5 class="mt-3">Email</h5>
                    <p>zialmarketing@gmail.com</p>
                </div>
            </div>
            <div class="row justify-content-center">
             <div class="col-lg-10 col-md-8 ">
                <form>
                    <div class="input-group input-group-lg mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-user"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Name" name="name" required>
                    </div>

                    <div class="input-group input-group-lg mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-envelope"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Email" name="email" required>
                    </div>

                    <div class="input-group input-group-lg mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-pencil-alt"></i>
                        </span>
                      </div>
                      <textarea class="form-control" placeholder="Message" name="t_a" rows="5"></textarea>
                    </div>

                    <input type="submit" value="Submit" onclick="location.href='{% url 'home' %}'"class="btn btn-cont btn-block btn-lg">
                  </form>

                </div>

            </div>

        </div>
    </div>
   <div class="container">
     <img src="/static/image/img_z_30.jpg"  width="50" height="20">
     <img src="/static/image/img_z_31.jpg"  width="50" height="20">
     <img src="/static/image/img_z_32.jpg"  width="50" height="20">
     <img src="/static/image/img_z_33.jpg"  width="50" height="20">
   </div>
</section>
<!--end of contact us section-->


<script src="/static/js/script.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  </body>
</html>